.register-container{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}
.form-container input:not([type=checkbox]){
    display: block;
    width: 100%;
    margin-bottom: 15px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}